<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 aling-middle ">
                    <div>
                        <h3>Sistemas de ventas</h3>
                        <p>Av.Universidad <br>
                            Dolores Hidalgo <br>
                            <b>Número:</b> 4721183636 <br>
                            <b>Correo:</b> apoyo@utng.edu.mx <br>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5317.4645216286235!2d-100.93045740007143!3d21.168742121849842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3efe2e87ccd7%3A0xcf1c80c255f1993e!2sUniversidad%20Tecnol%C3%B3gica%20del%20Norte%20de%20Guanajuato!5e0!3m2!1ses!2smx!4v1695061854860!5m2!1ses!2smx" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; copyright <b><span>Jorge Raúl Cruz Reyes</span></b>. All Rights Reserved
        </div>
    </div>

</footer>