footer{
    background-color: #4a5562;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    background-color: #515d6a;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info{
    margin-bottom: 30px;
}

#footer .copyright{
    text-align: center;
    padding: top 30px; ;
}
a {
    text-decoration: none;
    color: cyan;
}