@import '@angular/material/theming';
@include mat-core();

// AGREGAR LA GAMA DE COLORES
// COLORES PRIMARIOS 
/* For use in src/lib/core/theming/_palette.scss */
$my-primary-color: (
    50 : #efe0e0,
    100 : #d7b3b3,
    200 : #bc8080,
    300 : #a14d4d,
    400 : #8c2626,
    500 : #780000,
    600 : #700000,
    700 : #650000,
    800 : #5b0000,
    900 : #480000,
    A100 : #ff7c7c,
    A200 : #ff4949,
    A400 : #ff1616,
    A700 : #fc0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



//COLORES SECUNDARIOS

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$my-accent-color: (
    50 : #f8e3e4,
    100 : #ecb8bc,
    200 : #e0898f,
    300 : #d45962,
    400 : #ca3641,
    500 : #c1121f,
    600 : #bb101b,
    700 : #b30d17,
    800 : #ab0a12,
    900 : #9e050a,
    A100 : #ffcaca,
    A200 : #ff9798,
    A400 : #ff6466,
    A700 : #ff4a4c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//COLORES DE ADVERTENCIA
/* For use in src/lib/core/theming/_palette.scss */
$my-warn-color: (
    50 : #fffdfa,
    100 : #fefbf2,
    200 : #fef8ea,
    300 : #fef5e2,
    400 : #fdf2db,
    500 : #fdf0d5,
    600 : #fdeed0,
    700 : #fcecca,
    800 : #fce9c4,
    900 : #fce5ba,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


//AGREGAR LA PALETA DE COLORES ANGULAR MATEERIAL
$my-palette-primary:mat-palette($my-primary-color);
$my-palette-accent:mat-palette($my-accent-color);
$my-palette-warn:mat-palette($my-warn-color);

//GENERAR EL TEMA 
$ligth-theme: mat-light-theme((
    color: (
        primary: $my-palette-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    )
));

//APLICAR EL TEMA A NUESTRA API
@include angular-material-theme($ligth-theme);

